body {
    margin: 0;
  }
  h1{
    font-family: 'Fugaz One', cursive;
    font-size: 40px;
  }
  .logo {
    height: 100px;
  }
  header {
    background-color: #3a2d32;
    padding: 15px;
  }
  header ul {
    float: right;
    color: white;
  }
  header li {
    display: inline-block;
    padding: 15px 15px;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
  }
  header p {
    display: inline-block;
  }
  .heroImg {
    background-color: #EBEBEB;
    padding: 25px 15px;
    background-image: url(../images/heroimage3.png);
  }
  .heroflex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .bioimage{
    height: 225px;
    border-radius: 15px;
  }
  .content {
    max-width: 30%;
    min-height: 200px;
    margin: 0 auto;
    padding: 50px;
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family:'Montserrat', sans-serif;
  }
  #projectInfo{
    padding: 10%;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;;
    background-color: aqua;
    color: white;
  }
  .sectionImg{
    grid-area: "Image";
  }
  .sectionCopy{
    grid-area: "Copy";
  }
  .sectionLeft{
    padding: 10%;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;;
    background-color: red;
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Copy Image";
  }
  .sectionRight{
    padding: 10%;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;;
    background-color: palegreen;
    color: white;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Image Copy";
  }
  #prototype{
    padding:10%;
    background-color: blue;
  }
  #conclusion{
    padding: 10%;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;;
    background-color: aqua;
    color: white;
  }
  footer {
    background-color: #3a2d32;
    padding: 5px;
    color: white;
    position: static;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
  }