body {
    margin: 0;
  }
  h1{
    font-family: 'Fugaz One', cursive;
    font-size: 40px;
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: white;
  }
  p {
    font-family:'Montserrat', sans-serif;
    font-size: 26px;
    color: white;
  }
  .textContainer{
    padding: 30px;

  }
  .nav-link{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
  }
  /* hero image styling*/
  .heroImg {
    background-color: #3a2d32;
    width: 100%;
    max-height: 800px;
  }
  #heroImage{
    width: 100%;
    max-height: 800px;
    border:none;
  }
  /* project descripton styling */
  #projectInfo{
    padding: 5%;
    background-color: #3d3c49;
    align-items: center;
    justify-content: center;
  }
  /* section with images styling for grid layout*/
  .sectionImg{
    grid-area: "Image";
  }
  .sectionCopy{
    grid-area: "Copy";
  }
  .sectionLeft{
    padding: 5%;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;;
    background-color: #3d3c49ea;
    color: white;
    display: grid;
    column-gap: 15%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Copy Image";
  }
  .sectionRight{
    padding: 5%;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;;
    background-color: #3d3c49;
    color: white;
    display: grid;
    column-gap: 15%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "Image Copy";
  }
  /* style tile*/
  .contentImg{
    border-radius: 7px;
    max-height: 500px;
    max-width: 500px;
  }
  
  /* prototype section styling */
  #prototype{
    padding-left: 28%;
    padding-right: 35%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #3d3c49;
  }
  #prototypeImage{
    border-radius: 7px;
    width: auto;
    max-height: 700px;
  }
  /*conclusion section styling*/
  #conclusion{
    padding: 10%;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;;
    background-color: #3d3c49ea;
    color: white;
  }
  /* footer styling */
  footer {
    background-color: #3d3c49;
    padding: 5px;
    color: white;
    position: static;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
  }